@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc; /* slate-50 */
    --foreground: #0f172a; /* slate-900 */
    --primary: #0ea5e9; /* sky-500 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

